* {
    box-sizing: border-box;
    /* border: 1px solid red; */

}

.video {
    color: white;
    background-image: url(pictures/bgk-middle.png);
    height: 550px;
    width: 100%;
}

.video p {
    position: relative;
    left: 50%;
    top: 50%;
}

#video_button {
    height: 550px;
    position: relative;
    top: 50%;
    left: 50%;
}

.icon_offering {
    height: 50px;
    filter: grayscale(100%);
}

.expertise .textfield {
    margin: 80px 0px 80px 0px;
    text-align: center;
}

.expertise h2 {
    font-size: 20px;
    font-weight: bold;
    text-transform: uppercase;
}

.grid-container {
    display: flex;
    height: 300px;
    padding: 0;
    margin: 0px 90px 0px 90px;
}

.grid-item {
    background-color: rgba(255, 255, 255, 0.8);
    border: 0;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-width: 300px;
}


.text_offering {
    display: flex;
    justify-content: center;
    vertical-align: middle;
    align-items: center;
    text-transform: uppercase;
    text-transform: uppercase;
    padding: 10px 0 1px 0;
    height: 40px;
    font-weight: 600;
}

.text_offering_detail {
    display: flex;
    justify-content: center;
    vertical-align: middle;
    align-items: center;
    padding: 1px 0 1px 0;
}

.grid_border_element_bottom {
    border-bottom: 2px solid lightgray;
}

.grid_border_element_sides {
    border-left: 2px solid lightgray;
    border-right: 2px solid lightgray;
}