* {
    box-sizing: border-box;
    /* border: 1px solid red; */
}

.video {
    display: flex;
    color: white;
    background-image: url(pictures/bgk-middle.png);
    height: 550px;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

.icon_offering {
    height: 50px;
    filter: grayscale(100%);
}

.icon_offering:hover {
    height: 50px;
    filter: grayscale(0);
}

.expertise .textfield {
    margin: 80px 0px 80px 0px;
    text-align: center;
}

.expertise h2 {
    font-size: 20px;
    font-weight: bold;
    text-transform: uppercase;
}

.grid-container {
    display: flex;
    height: 300px;
    padding: 0;
    justify-content: center;
}

.grid-item {
    /* border: 1px solid red; */
    background-color: rgba(255, 255, 255, 0.8);
    border: 0;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 300px;
    width: noscale;
}

.text_offering {
    display: flex;
    justify-content: center;
    vertical-align: middle;
    align-items: center;
    text-transform: uppercase;
    text-transform: uppercase;
    padding: 10px 0 1px 0;
    height: 40px;
    font-weight: 600;
}

.text_offering_detail {
    display: flex;
    justify-content: center;
    vertical-align: middle;
    align-items: center;
    padding: 1px 0 1px 0;
}

.grid_border_element_bottom {
    border-bottom: 2px solid lightgray;
}

.grid_border_element_sides {
    border-left: 2px solid lightgray;
    border-right: 2px solid lightgray;
}

.feedback_container {
    /* border: 1px solid blue; */
    display: flex;
    height: 500px;
    padding: 0;
    margin: 0px 90px 0px 90px;
    justify-content: center;
    /* min-width: 800px; */
}

.feedback_block {
    /* border: 1px solid red; */
    justify-content: center;
    width: 400px;
    /* min-width: 200px; */
}

.clients_block {
    /* border: 1px solid blue; */
    justify-content: center;
    width: 400px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    /* min-width: 200px; */
}

.feedback_block p,
.clients_block p {
    text-transform: uppercase;

}

.clients_logos {
    /* border: 1px solid green; */
    display: flex;
    justify-content: space-evenly;

}

.feedback_container .clients_block .clients_logos_row img {
    /* border: 1px solid red; */
    display: flex;
    padding: 20px;
    width: 180px;
}


.feedback {
    /* border: 1px solid red; */
    border: 2px solid lightgray;
    width: 95%;
    padding: 4px 4px;
    margin: 0px 0px 0px 0px;
    display: flex;
    justify-content: flex-start;
}

.feedback label {
    /* border: 1px solid blue; */
    position: relative;
    left: -0px;
    padding: 4px 4px;
    white-space: nowrap;
}

.feedback input,
.feedback textarea {
    /* border: 1px solid green; */
    display: flex;
    width: 100%;
    margin-left: 4px;
    border: none;
}

.feedback textarea {
    display: flex;
    justify-content: stretch;
    border: none;
}